*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:  flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(74, 74, 89);
}
.contaner{
    position: relative;
    top: 50px;
    

}
.cup{
    position: relative;
    width: 300px;
    height: 300px;
 background: linear-gradient(to right, #f5f4f4 , #cac2c2);
    /* border: 2px solid black; */
    /* background-color: #ece8e9; */
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;

}
.top{
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 65px;
    background: linear-gradient(to right, #f5f4f4 , #cac2c2);
    /* background-color: rgb(232, 67, 67); */
    /* border: 2px solid black; */
    border-radius: 50%;
}
.circle{
position: absolute;
top: 5px;
left: 10px;
width: calc(100% - 20px);
height: 50px;
background: linear-gradient(to left ,#dad7d7 , #eeecec );
border-radius:50% ;
/* border: 2px solid black; */
box-sizing: border-box;
overflow: hidden;
}
.tea{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(88, 40, 15, 0.66) , rgba(221, 82, 17, 0.858));
    border-radius:50% ;
}
.handle{
    position: absolute;
    right:-70px;
    top: 40px;
    width: 160px;
    height: 180px;
    border: 25px solid #d4cccc;
    border-left: 25px solid transparent ;
    border-bottom:25px solid transparent ;
    border-radius: 50%;
    transform: rotate(43deg);
}
.plate{
    position: absolute;
    bottom: 150px;
    left: 50%;
    /* border: 2px solid black; */
    transform: translateX(-50%);
    width: 500px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to right ,#ded9d9,#e7e7e7 );
    box-shadow: 0 35px 35px rgb(52, 52, 52);
}
.plate::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background: linear-gradient(to right ,#ded9d9,#e7e7e7 );
}
.plate::after{
    content: "";
    position: absolute;
    /* border: 2px solid black; */
    top: 30px;
    bottom: 30px;
    right: 30px;
    left: 30px;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0,0.2) , transparent);
}
.vapour{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
    /* border: 2px solid black; */
}
.vapour span{
    position: relative;
    bottom:50px;
    display: bolck ;
    margin: 0 2px 50px ;
    min-width: 8px;
    height: 100px;
    background: #ffff;
    border-radius: 50%;
    border: 2px solid black;
    animation: vapours 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
}
@keyframes vapours {
    0%{
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    50%{
        transform: translateY(-150px) scaleX(5)
    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-300px) scaleX(10)
    }
    
}

